<table class="table">
  <thead class="thead">
    <tr>
      <th>Action</th>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= render 'shared/unblock', user: user %></td>
        <td><%= link_to user.name, user_path(user) %></td>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
