<% @favorites.each do |story| %>
  <div class="row story-row">
    <div class="col-md-1 story-favorites">
      <%= render 'shared/unfavorite', story: story %>
    </div>
    <div class="col-md-1 story-hidden">
      <%= render 'shared/block', story: story %>
    </div>
    <%= render 'shared/story_list', story: story %>
  </div>
<% end %>
