<% @favorites.each do |story| %>
  <div class="row story-row">
    <div class="col-md-1 story-favorites">
      <%= unfollow_button(story, false) %>
    </div>
    <div class="col-md-1 story-hidden">
      <%= follow_button(story, false) %>
    </div>
    <%= render 'shared/story_list', story: story %>
  </div>
<% end %>
