<% @favorites.each do |story| %>
  <div class="row story-row">
    <div class="col-md-1 story-favorites">
      <%= unfavorite_button(story) %>
    </div>
    <div class="col-md-1 story-hidden">
      <%= hide_button(story) %>
    </div>
    <%= render 'shared/story_list', story: story %>
  </div>
<% end %>
