<table class="table">
  <thead class="thead">
    <tr>
      <th>Title</th>
      <th>Author</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.age_group %></td>
      </tr>
    <% end %>
  </tbody>
</table>


