<div class="btn-group" role="group" aria-label="Category Filters">
  <% @categories.each do |category| %>
    <% if params[:category] == category.id.to_s %>
      <%= link_to category.name, url_for, class: "btn btn-secondary active" %>
    <% else %>
      <%= link_to category.name, url_for(category: category.id), class: "btn btn-secondary" %>
    <% end %>
  <% end %>
</div>
