<div class="col-md-2 story-title">
  <h6><%= link_to story.title, story_path(story) %></h6> 
</div>
<div class="col-md-2 story-author">
  <h6><%= link_to story.user.name, user_path(story.user) %></h6>
</div>     
<div class="col-md-5 story-description">
  <%= story.description %>
</div>