
<% @stories.each do |story| %>
  <% unless current_user.blocking?(story.user) %>
    <div class="row story-row">
      <div class="col-md-1 story-favorites">
        <% if current_user.favoriting?(story.user) %>
          <%= unfavorite_button(story) %>
        <% else %>
          <%= favorite_button(story) %>
        <% end %>
      </div>
      <div class="col-md-1 story-hidden">
        <%= hide_button(story) %>
      </div>
      <%= render 'shared/story_list', story: story %>
    </div>
  <% end %>
<% end %>




