<%= provide(:title, "Submit A Story") %>
<div class="row">
  <div class="col-md-8 offset-md-2">
    <h1>Submit A Story</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-8 offset-md-2">
    <%= render 'form' %>
  </div>
</div>
