<div class="row">
  <div class="offset-md-2 col-md-8">
    <h1 class="story-title"><%= @story.title %></h1>
  </div>
</div>

<div class="row story-body">
  <div class="offset-md-2 col-md-8">
    <%= story_format(@story.body) %>
  </div>
</div>
