<h1>Software Requirements</h1>

<h4>Critical Requirments</h4>
<ul>
  <li>Users can browse stories based on popularity and categorization</li>
  <li>Users can upload and edit their own stories</li>
  <li>Users can save story writers to a seprate list showing all stories from that writer</li>
  <li>Users can hide all future content from a given writer</li>
  <li>All stories and users are viewable alongside the count of above user actions</li>
  <li>App authorizes non-admin users to edit only their own content</li>
</ul>

<h4>Important Requirements</h4>
<ul>
  <li>Users authenticate with Facebook</li>
  <li>App prevents unauthenticated users from posting or viewing pages only necessary for members</li>
  <li>Admins can remove stories and users</li>
  <li>Users can reverse all actions made in the application</li>
</ul>


