// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



$gray-dark:                 #292b2c !default;

.story-body {
  margin-top: 25px;
}

.story-title {
  text-align: center;
}

.story-row {
  margin: 5px;
  
  .story-title {
    text-align: center;
    vertical-align: middle;
  }
  
  .story-author {
    text-align: center;
    vertical-align: middle
  }
}

h1 {
  text-align: center;
}


.pagination span {
  position: relative;
  display: block;
  padding: $pagination-padding-y $pagination-padding-x;
  margin-left: -1px;
  line-height: $pagination-line-height;
  color: $pagination-color;
  background-color: $pagination-bg;
  border: $pagination-border-width solid $pagination-border-color;

  @include hover-focus {
    color: $pagination-hover-color;
    text-decoration: none;
    background-color: $pagination-hover-bg;
    border-color: $pagination-hover-border;
  }

  &.current {
    z-index: 2;
    color: $pagination-active-color;
    background-color: $pagination-active-bg;
    border-color: $pagination-active-border;
  }
}



