// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.story-body {
  margin-top: 25px;
}

.story-title {
  text-align: center;
}

.story-row {
  .story-title {
    text-align: center;
    vertical-align: middle;
  }
  
  .story-author {
    text-align: center;
    vertical-align: middle
  }
}

h1 {
  text-align: center;
}

.favorite, .hide {
  .button_to {
  display: inline;
  }
  display: inline;
}








