// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$gray-dark:                 #292b2c !default;

.story-body {
  margin-top: 25px;
}

.story-title {
  text-align: center;
}

.story-row {
  margin: 5px;
  
  .story-title {
    text-align: center;
    vertical-align: middle;
  }
  
  .story-author {
    text-align: center;
    vertical-align: middle
  }
}

h1 {
  text-align: center;
}


